body{
    background-color:#b3e0ff85;
    margin-bottom: 60px; 
}
.jumbotron{
    background-color:#013444a4;
}
.carousel-inner img {
width:100%;
height: 60%;

background-size:cover;

}
.colored{
background-color:#4e7687d9;
}
h3, p, .count, h2, small, h1, h5, h4{
  color:white;
}
.nav-item, .dropdown-item .blacky {
  color:black;
  font-size:large;
}
.vertical-center {
display: inline-block;
vertical-align: middle;
display: flex;
align-items: center;
}
.navbar-inner {
opacity: 100%;
}
.footer {
position: absolute;
bottom: 0;
width: 100%;
height: 60px; 
line-height: 60px; 
}
html {
position: relative;
min-height: 100%;
}